/HttpService/obj
/HttpService/bin
/McreditServiceCore/obj
/McreditServiceCore/bin
/VietStar.Business/obj
/VietStar.Business/bin
/VietStar.Client/obj
/VietStar.Client/bin
/VietStar.Entities/obj
/VietStar.Entities/bin
/VietStar.Repository/obj
/VietStar.Repository/bin
/VietStar.Utility/obj
/VietStar.Utility/bin
/VietStar.Client/.vs
