
<div class="alert alert-info alert-dismissible">

    <h4><span>Nhấn vào đây để sử dụng phiên bản cũ: <a href="http://zing.vn" target="_blank">zing.vn</a></span></h4>
    <span>Chúng tôi khuyến khích bạn sử dụng phiên bản mới này vì những tối ưu về tốc độ và tiện ích mà nó mang lại.</span><br>
    <span>Tuy nhiên bạn có thể quay lại phiên bản cũ nếu muốn bằng cách nhấn vào đây: <a href="zing.vn" target="_blank">zing.vn</a></span>
    <div>
        <a class="" href="" id="">

        </a>
    </div>

</div>